/* Extra small devices (phones, less than 768px) */
.container {
    max-width: auto;
    margin: 0 auto;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .container {
        max-width: 750px;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .container {
        max-width: 970px;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}

.brand-link {
    color: #fff;
    text-decoration: none;
}

.code {
    border: 1px solid #111;
    background-color: #333;
    color: #f6f6f6;
    padding: 5px 10px;
    font-size: 14px;
    line-height: 1.5em;
    letter-spacing: -.05em;
    font-family: monospace;
    border-radius: 3px;
    text-shadow: 1px 1px 1px #555;
}

.w100 {
    width: 100%;
}

.simple-message {
    text-align: center;
}

.status {
    padding: 5px 8px;
    display: inline-block;
    font-size: 13px;
    background-color: #000;
    color: #fff;
    border-radius: 3px;
    line-height: 1em;

    &.status-success {
        background-color: #00ff11;
    }

    &.status-error {
        background-color: #ff0000;
    }

    &.status-canceled {
        background-color: #FF5722;
    }

    &.status-running {
        background-color: #FFC107;
    }
}
